<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gannu5704q.vulkanmalizink">

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vulkan Mali Zink"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="Vulkan Mali Zink"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FCL & Pojav Detection Metadata -->
        <meta-data
            android:name="fclPlugin"
            android:value="true" />
        <meta-data
            android:name="des"
            android:value="Vulkan Mali Zink by Gannu5704Q" />
        <meta-data
            android:name="renderer"
            android:value="vulkan_mali_zink" />
        <meta-data
            android:name="pojavEnv"
            android:value="MESA_LOADER_DRIVER_OVERRIDE=zink" />

    </application>

</manifest>
